# Can also ignore all directories and files in a directory.
classes
classes/**/*
stage
stage/**/*
dist
dist/**/*
deploy 
deploy/**/*
workspace
workspace/**/*
env/src/genjava
env/src/genjava/**/*
env/war/WEB-INF/lib/appengine-*.jar
