# Can also ignore all directories and files in a directory.
.DS_Store
.DS_Store/**/*
appengine-generated
classes
classes/**/*
deploy 
deploy/**/*
dist
dist/**/*
env/src/genjava
env/src/genjava/**/*
env/war/WEB-INF/lib/appengine-*.jar
stage
stage/**/*
workspace
workspace/**/*